/* src/style/Cart.css */
.cart-container { /* Alterado para "cart-container" */
  max-width: 800px; /* Mantém a largura desejada para o carrinho */
  margin: 0 auto; /* Centraliza o container do carrinho */
}

.cart-container .card {
  transition: transform 0.2s;
}

.cart-container .card:hover {
  transform: scale(1.05);
}

.cart-container .text-end {
  margin-top: 20px;
}
