.custom-navbar {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
}

.logo-container {
  margin-right: auto; /* Isso empurra os itens para o lado esquerdo */
}

.logo-image {
  width: 40px; /* Ajuste o tamanho da imagem do logo */
  height: 40px; /* Mantém a imagem em proporção */
  object-fit: cover; /* Garante que a imagem fique bem dentro do círculo */
}

.custom-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; /* Cor do texto da marca */
}

.custom-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.navbar-brand {
  font-family: 'Playfair Display', serif; /* Fonte elegante */
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.custom-link {
  margin-right: 1rem;
  color: #333;
  font-size: 1.1rem;
}

.custom-link:hover {
  color: #007bff;
}

.custom-btn-login,
.custom-btn-logout {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.custom-btn-login:hover,
.custom-btn-logout:hover {
  background-color: #0056b3;
}

.custom-cart-link {
  position: relative;
  color: #333;
}

/* Exemplo de CSS para o badge do carrinho */
.custom-cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red; /* Cor de fundo do badge */
  color: white; /* Cor do texto do badge */
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

/* Outras classes personalizadas */
.custom-navbar {
  background-color: #fff; /* Cor de fundo da navbar */
}

.custom-navbar-container {
  max-width: 1200px; /* Largura máxima do contêiner da navbar */
  margin: auto; /* Centraliza o contêiner */
}

.custom-link {
  color: #333; /* Cor dos links */
}

.custom-btn-login, .custom-btn-logout {
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
}
