/* src/style/ProductForm.css */

/* Estilo base */
.product-form {
  background-color: #FFFFFF;
  color: #333;
  border: 1px solid #E1BEE7;
  padding: 20px;
  border-radius: 10px;
}

.form-group label {
  font-family: 'Playfair Display', serif;
  color: #FAB1B1;
  font-weight: bold;
  font-size: 1.1rem;
}

.form-control {
  border-color: #AEEEEE;
  border-radius: 5px;
  padding: 10px;
}

.form-control:focus {
  box-shadow: 0 0 5px #FFD700;
  border-color: #FFD700;
}

.form-control-file {
  background-color: #F5F5F5;
  padding: 5px;
}

.alert-info {
  background-color: #B2EBF2;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #FFD700;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFBF00;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribui espaço entre os itens */
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 40px; /* Adiciona espaçamento entre os campos */
}

.form-group:last-child {
  margin-right: 0; /* Remove o espaçamento após o último campo */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group .form-check {
  margin-right: 15px;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .form-row .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
